<div class="container">
  <h1>シフト提出状況</h1>
  <table border="1" cellspacing="0" cellpadding="5">
    <!-- ヘッダー部分 -->
    <thead>
      <tr>
        <th>日付＼時間</th>
        <!-- 横軸: 時間帯（1時間ごと） -->
        <th *ngFor="let hour of timeSlots">{{ hour }}:00</th>
      </tr>
    </thead>
  
    <!-- ボディ部分 -->
    <tbody>
      <!-- 縦軸: 日付ごとに行を生成 -->
      <tr *ngFor="let date of uniqueDates">
        <td>{{ date }}</td> <!-- 日付のラベル -->
  
        <!-- 時間帯ごとにセルを生成 -->
        <td *ngFor="let hour of timeSlots">
          <!-- 該当するシフトデータを取得して表示 -->
          <ng-container *ngIf="getShiftAt(date, hour) as shift">
            <div>{{ shift.staffName }}</div>
            <div>{{ shift.store }}</div>
            <div>{{ shift.role }}</div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  

  <div class="buttons">
    <button routerLink="/first-component">シフト提出画面へ</button>
    <button routerLink="/second-component">シフト枠作成</button>
  </div>
</div>

<router-outlet></router-outlet>