<html>
    <head><title>シフト提出状況</title></head>

    <body>

        <table>
            
        <thead>
			<tr>
				<th class="w-25">日付</th>
                <th>9-10</th>
                <th>11-12</th>
                <th>13-14</th>
                <th>15-16</th>
                <th>17-18</th>
                <th>19-20</th>
			</tr>
		</thead>

        シフト提出状況
		<tbody>
			<tr>
				<th>12/2</th>
				<td> </td>
                <td> <ul>
                    <li>佐藤:レジ</li>
                    </ul></td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                
			</tr>
			<tr>
				<th>12/3</th>
				<td><ul>
                    <li>山口:在庫</li>
                    </ul> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td><ul>
                    <li>佐藤:レジ</li>
                    <li>宮沢:売場</li>
                    </ul> </td>
                <td> </td>
                
			</tr>
            <tr>
				<th>12/4</th>
				<td> </td>
                <td><ul>
                    <li>宮沢:売場</li>                    
                    </ul> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> <ul>
                    <li>森田:在庫</li>
                </ul></td>
                
			</tr>
            <tr>
				<th>12/5</th>
				<td> </td>
                <td><ul>
                    <li>森田:在庫</li>
                </ul> </td>
                <td> </td>
                <td> <ul>
                    <li>佐藤:レジ</li>
                    
                    </ul></td>
                <td> <ul>
                    <li>佐藤:レジ</li>
                    </ul></td>
                <td> </td>
                
			</tr>
            <tr>
				<th>12/6</th>
				<td><ul>
                    <li>森田:在庫</li>
                </ul> </td>
                <td> </td>
                <td> </td>
                <td> <ul>
                    <li>宮沢:売場</li>
                    
                    </ul></td>
                <td> </td>
                <td> </td>
                
			</tr>
            <tr>
				<th>12/7</th>
				<td> </td>
                <td><ul>
                    <li>佐藤:レジ</li>
                    <li>宮沢:売場</li>
                    
                    </ul> </td>
                <td> <ul>
                    <li>佐藤:レジ</li>
                    <li>宮沢:売場</li>
                    
                    </ul></td>
                <td> </td>
                <td><ul>
                    <li>森田:在庫</li>
                </ul> </td>
                <td> </td>
                
			</tr>
            <tr>
				<th>12/8</th>
				<td> <ul>
                    <li>佐藤:レジ</li>
                    
                    </ul></td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> <ul>
                    <li>佐藤:レジ</li>
                    <li>宮沢:売場</li>
                    
                    </ul></td>
                <td> <ul>
                    <li>佐藤:レジ</li>
                    <li>宮沢:売場</li>
                    
                    </ul></td>
                
			</tr>
        </table>

        <form method="get" action="action.html">
            <input type="button" onclick="location.href='work.html'" value="シフト提出画面へ">
          </form>

          <form method="get" action="action.html">
            <input type="button" value="シフト枠作成">
          </form>
    </body>
</html>