<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>シフト必要人数:3</title>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
		/* 必要人数:3された行のスタイル */
		.selected {
			background-color: #cce5ff;
		}
	</style>
</head>
<body>
	<table data-sl-formclass="data_holder" class="table-selectable table w-75">
		<thead>
			<tr>
				<th class="w-25">日付</th>
                <th>9-10</th>
                <th>11-12</th>
                <th>13-14</th>
                <th>15-16</th>
                <th>17-18</th>
                <th>19-20</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>12/2</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
			<tr>
				<th>12/3</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
            <tr>
				<th>12/4</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
            <tr>
				<th>12/5</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
            <tr>
				<th>12/6</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
            <tr>
				<th>12/7</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
            <tr>
				<th>12/8</th>
				<td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                <td data-value="col1">必要人数:3</td>
                
			</tr>
	</table>
    <form method="get" action="action.html">
        <input type="button" value="シフト希望確定">
      </form>


	
</body>
</html>
<p>second works!</p>
