<div class="container">
	<h1>シフト入力画面</h1>
	<form>

	<div>
		<label for="storeSelect">店舗名を選択してください:</label>
		<select id="storeSelect" [(ngModel)]="selectedStore">
		  <option *ngFor="let store of stores" [value]="store.id">
			{{ store.name }}
		  </option>
		</select>
	  </div>
  
	  <div>
		<label for="employeeSelect">従業員を選択してください:</label>
		<select id="employeeSelect" [(ngModel)]="selectedEmployee">
		  <option *ngFor="let employee of employees" [value]="employee.id">
			{{ employee.name }}
		  </option>
		</select>
	  </div>
	    
	  <label for="role">担当業務を選択:</label>
	  <select [(ngModel)]="selectedRole" name="role" required>
		<option value="レジ">レジ</option>
		<option value="品出し">品出し</option>
		<option value="接客">接客</option>
	  </select>
  
	  <br>

	  <label for="date">シフトの日付:</label>
	  <input type="date" [(ngModel)]="selectedDate" name="date" required />

  	<br>
	
	  <label for="startShift">勤務開始時間を選択:</label>
	  <div>
		<div *ngFor="let shift of availableShifts">
		  <input
			type="radio"
			name="shiftStart" 
			[value]="shift"
			(change)="selectstart(shift)"
			[checked]="selectedstart === shift"
			/>
		  {{ shift }}:00
		</div>
	  </div>
	  <p>選択した開始時間: {{ selectedstart }}:00</p>
	  
	  <label for="endshift">勤務終了時間を選択:</label>
	  <div>
		<div *ngFor="let shift of availableShifts">
		  <input
			type="radio"
			name="shiftend" 
			[value]="shift"
			(change)="selectend(shift)"
			[checked]="selectedend === shift"
		  />
		  {{ shift }}:00
		</div>
	  </div>
	  <p>選択した時間: {{ selectedend }}:00</p>
  
	  <button type="submit">シフトを保存</button>
	</form>
  </div>
  